<div class="site-search">
  <div class="local-search">
    <div class="local-search-header">
      <div class="hide-site-search" id="hide-site-search">
        <svg width="15" height="15">
          <line fill="none" stroke="#757575" stroke-width="1" stroke-miterlimit="10" x1="0" y1="0" x2="15" y2="15"/>
          <line fill="none" stroke="#757575" stroke-width="1" stroke-miterlimit="10" x1="15" y1="0" x2="0" y2="15"/>
        </svg>
      </div>
      <input type="text" id="local-search-input" autofocus>
    </div>
    <div id="local-search-result"></div>      
  </div>
</div>   
<script src="<%- url_for('js/search.js') %>"></script> 
<script type="text/javascript">    
  $('#hide-site-search').on('click', function(){
    $('.site-search').hide();
    $('.site-search').removeClass('fadeIn');
  });
  $('.site-search').on('click', function(event){
    if (event.target === this) {
      $('.site-search').hide();
      $('.site-search').removeClass('fadeIn');
    }
  });
  $('#site-search-btn').on('click', function(){
    $('.site-search').show();
    $('.site-search').css('display');
    $('.site-search').addClass('fadeIn');
  });
  <% var searchPath = (config.search && config.search.path.length > 0) ? config.search.path : 'search.xml'%>
  searchFunc('<%- url_for(searchPath) %>', 'local-search-input', 'local-search-result');
</script>




