col-blue= #007bff;
col-black= #3d4852;

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: col-black;

}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-size: 16px;
    text-rendering: geometricPrecision;
}

body {
    color: col-black;
    font-family: -apple-system, "BlinkMacSystemFont", "PingFang SC", "Noto Sans CJK SC", "Microsoft YaHei", sans-serif;
    background-color: #fefefe;
    /* background: #fefefe url(../img/bg.png) repeat top center; */
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    /* text-align: center; */
}

a {
    font-size: inherit;
    color: col-black;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    color: #22292f;
    line-height: 1.5;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.625rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.375rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    margin: 8px 0;
    line-height: 1.625rem;
}

img {
    max-width: 100%;
}

ul,
ol {
    margin-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #aaa;
    font-size: 0.875rem;
    th {
        background-color: #f8f9fa;
        font-size: 1rem;
    }
    td,
    th {
        border: 1px solid #aaa;
        padding: 10px;
    }
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: calc(9 / 16 * 100%);
}

.video-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

hr {
    border: none;
    height: 1px;
    background-color: col-black;
}

section {
    margin: 10px 0;
}

.post-meta {
    font-size: 0.75rem;
    line-height: 1.375rem;
}

time {
    color: #b8c2cc;
}

pre {
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    font-size: 0.845rem;
    line-height: 1.25rem;
    background-color: #f8f8f8;
    font-family: 'Source Code Pro', consolas;
    overflow: auto;
}

.highlight {
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
    overflow: auto;
    background-color: #f8f8f8;
    font-size: 0.875rem;
    figcaption {
        margin-left: 20px;
        padding: 4px;
    }
    table,
    tr,
    td {
        border: none;
        padding: 0;
    }
    pre {
        margin: 0;
    }
    .gutter {
        background-color: #f8f8f8;
        border: none;
        user-select: none;
        width: 20px;
        text-align: center;
        pre {
            min-width: 20px;
        }
    }
}

blockquote {
    font-size: 1.4rem;
    margin: 10px 0;
    text-align: center;
    footer {
        font-size: 0.875rem;
        cite {
            &:before {
                content: "—";
                padding: 0 0.5rem;
            }
        }
    }
}

.pullquote {
    text-align: left;
    width: 40%;
    margin: 0;
    &.left {
        margin-left: 0.5rem;
        margin-right: 1rem;
    }
    &.right {
        text-align: right;
        margin-right: 0.5rem;
        margin-left: 1rem;
    }
}

.footer {
    font-size: 0.75rem;
    position: relative;
    height: 60px;
    overflow: hidden;
    background-color: #fefefe;
    color: #aaa;
    text-align: center;
    line-height: 60px;
}

@media screen and (max-width: 860px) {
    .highlight {
        td.gutter {
            display: none;
        }
    }
    h2,
    h3 {
        margin: 10px 0;
    }
    html {
        font-size: 14px;
        line-height: 1.25rem;
    }
}

@import "_partial/highlight";
@import "_partial/main";
@import "_partial/header";
@import "_partial/search";