col-blue=#007bff;
col-black=#3d4852;
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #757575;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-size: 16px;
    text-rendering: geometricPrecision;
}

body {
    color: col-black;
    font-family: -apple-system, "BlinkMacSystemFont", "PingFang SC", "Noto Serif CJK SC", "Noto Sans CJK SC", "Microsoft YaHei", sans-serif;
    /* background-image: url(../img/bg.jpg); */
    background-size: 100%;
    background-attachment: fixed;
}

a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

i {
    color: inherit;
}

input {
    background-color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #22292f;
    line-height: 1.5;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.375rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

hr {
    border: none;
    height: 1px;
    background-color: #f8f8f8;
    margin: 10px 0;
}

p {
    margin: 8px 0;
    line-height: 1.7;
}

img {
    max-width: 100%;
}

ul,
ol {
    margin-left: 20px;
}

table {
    margin: 10px 0;
    width: 100%;
    border: 1px solid #f8f8f8;
    border-collapse: collapse;
    font-size: 0.875rem;
    th {
        background-color: #f8f8f8;
        font-size: 1rem;
    }
    td,
    th {
        border: 1px solid #e8e8e8;
        padding: 10px;
    }
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: calc(9 / 16 * 100%);
}

.video-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


section,
footer {
    margin: 10px 0;
}

.post-meta {
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: #757575;
}

.more-btn {
    color: #757575;
    font-size: 0.875rem;
}

time {
    color: #b8c2cc;
    color: #757575;
    font-family: "Roboto", "PingFang SC", "Noto Serif CJK SC", "Noto Sans CJK SC", "Microsoft YaHei", sans-serif;
}

pre {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    margin: 10px -10px;
    padding: 10px;
    line-height: 1.25rem;
    letter-spacing: normal;
    background-color: #f8f8f8;
    font-family: "Source Code Pro", "PingFang SC", "Microsoft YaHei", consolas;
    overflow: auto;
    code {
        font-family: inherit;
    }
}

.highlight {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    margin: 10px -10px;
    overflow: auto;
    background-color: #f8f8f8;
    font-size: 0.875rem;
    figcaption {
        margin-left: 20px;
        padding: 4px;
    }
    table,
    tr,
    td {
        margin: 0;
        border: none;
        padding: 0;
    }
    pre {
        margin: 0;
        /* box-shadow: none; */
    }
    .gutter {
        width: 20px;
        text-align: center;
        background-color: #f8f8f8;
        border: none;
        user-select: none;
        color: #757575;
        pre {
            min-width: 20px;
        }
    }
}

blockquote {
    margin: 10px 0;
    text-align: center;
    border-left: 2px solid #757575;
    background-color: #F8F8F8;
    overflow: hidden;
    /*    footer {
        font-size: 0.875rem;
        cite {
            &:before {
                content: "—";
                padding: 0 0.5rem;
            }
        }
    } */
}

.pullquote {
    border: 0;
    background-color: inherit;
    width: 50%;
    margin: 0;
    &.left {
        float: left;
        margin-right: 1rem;
    }
    &.right {
        float: right;
        text-align: right;
        margin-right: 0.5rem;
        margin-left: 1rem;
    }
}

.footer {
    font-size: 0.75rem;
    position: relative;
    height: 60px;
    overflow: hidden;
    color: #aaa;
    text-align: center;
    line-height: 60px;
}

@media screen and (max-width: 860px) {
    html {
        font-size: 14px;
        line-height: 1.25rem;
    }
    .highlight {
        td.gutter {
            display: none;
        }
    }
}

@import "_partial/highlight";
@import "_partial/main";
@import "_partial/header";
@import "_partial/search";