#header {
    padding: 30px 0;
    min-height: 120px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.01);
    .header-inner {
        overflow: hidden;
        margin: 0 auto;
        width: calc(100% - 80px);
        max-width: 1700px;
    }
}

#header #header-title {
    float: left;
    /* clean right space of title */
    margin-right: -1rem;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    a {
        font-family: "Roboto", "PingFang SC", "Noto Sans CJK SC", "Microsoft YaHei", sans-serif;
        letter-spacing: 1rem;
        text-align: center;
        word-break: break-all;
        font-size: 2rem;
        line-height: 40px;
    }
}

#header #header-nav {
    float: right;
    ul {
        margin-left: 0;
        margin-right: -6px;
        font-size: 0.875rem;
        list-style: none;
        li {
            margin: 0 6px;
            display: inline-block;
            a,
            div {
                border-radius: 4px;
                padding: 10px 10px;
                display: block;
                text-align: center;
                transition: 0.4s ease;
                cursor: pointer;
                &:hover {
                    background-color: col-black;
                    color: #fefefe;
                }
            }
        }
        /* li end */
    }
    /* ul end */
}


/* center title and navigation */

@media screen and (max-width: 1200px) {
    #header {
        padding: 20px 0 10px;
        min-height: 0px;
        text-align: center;
        .header-inner {
            width: 100%;
        }
        #header-title {
            float: none;
        }
        #header-nav {
            float: none;
            ul {
                margin: 10px 0;
                li {
                    margin: 0;
                }
            }
        }
        /* #header-nav end */
    }
    /* #header end */
}