#header {
    margin: 20px 0;
    min-height: 80px;
}

#header:after {
    content: "";
    clear: both;
    display: block;
}

#header #header-title {
    position: relative;
    float: left;
    margin-left: 40px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin-left: 40px;
    a {
        text-align: center;
        word-break: break-all;
        font-size: 1.875rem;
    }
}

#header #header-nav {
    float: right;
    margin-right: 40px;
    ul {
        margin-left: 0;
        border-radius: 4px;
        font-size: 14px;
        list-style: none;
        li {
            margin: 0 10px;
            display: inline-block;
            a,div {
                border-radius: 4px;
                padding: 10px 10px;
                display: block;
                position: relative;
                text-align: center;
                transition: 0.4s ease;
                cursor: pointer;
                &:hover {
                    background-color: col-black;
                    color: #fefefe;
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    #header {
        text-align: center;
        #header-title {
            float: none;
            width: auto;
            margin-left: 0;
        }
        #header-nav {
            float: none;
            width: 820px;
            margin: 20px auto;
        }
    }
}

@media screen and (max-width: 860px) {
    #header-title {
        float: none;
        width: auto;
        margin: 0;
    }
    #header {
        #header-nav {
            width: calc(100% - 20px);
            margin: 20px 10px;
            float: none;
        }
    }
}