.main {
    min-height: 100vh;
    margin-bottom: 20px;
    overflow: hidden;
    .main-index {
        text-align: center;
    }
    .main-categories,
    .main-tags,
    .main-archives {
        article {
            min-height: 100vh;
            text-align: center;
        }
    }
    .main-tags,
    .main-categories {
        a {
            min-width: 100px;
            display: inline-block;
            box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
            margin: 10px;
            padding: 8px;
        }
    }
    .main-archives {
        p a {
            font-weight: 700;
            font-size: 1.25rem;
            margin: 20px 0;
        }
    }
}

.main article {
    margin: 20px auto;
    box-shadow: 4px 4px 20px -5px rgba(0, 0, 0, 0.1);
    width: calc(100% - 460px);
    background-color: #fff;
    padding: 10px;
}

.main {
    .show-toc {
        article {
            margin-left: 40px;
        }
    }
}

.pagination {
    clear: both;
    text-align: center;
    padding: 10px;
    margin: 20px auto;

    .space {
        padding: 0 10px;
    }
    .page-number,
    .next,
    .prev {
        vertical-align: middle;
        background-color: #fff;
        box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        position: relative;
        z-index: 1;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        min-width: 40px;
        min-height: 40px;
        padding: 6px 10px;
        margin: 10px;
        &:hover {
            color: #fff;
            background-color: col-black;
        }
    }
    .current {
        background-color: col-black;
        color: #fff;
    }
}

.post-toc {
    position: relative;
    z-index: 1;
    margin-right: 40px;
    float: right;
    max-height: calc(100% - 60px);
    overflow: auto;
    float: right;
    width: 300px;
    padding: 20px 10px;
    top: 10px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
    transition: 1s linear;
    a {
        transition: 0.1s linear;
        color: #222;
        &:hover {
            color: #00f;
        }
    }
    li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.5rem;
        list-style-type: none;
        margin-left: 10px;
    }
    .toc>.toc-item li {
        display: none;
    }
}

@media screen and (max-width:1200px) {
    .main {
        .show-toc article,
        .hide-toc article,
        article {
            width: 800px;
            margin: 20px auto;
        }
        .post-toc {
            display: none;
        }
    }
}

@media screen and (max-width:860px) {
    .main {
        .show-toc article,
        .hide-toc article,
        article {
            width: calc(100% - 40px);
            margin: 20px 10px;
        }
        .post-toc {
            display: none;
        }
    }
}