.main {
    letter-spacing: 0.05rem;
    min-height: 90vh;
    margin-bottom: 20px;
    overflow: hidden;
    .show-toc {
        article {
            margin-left: 40px;
        }
    }
    .main-post {
        max-width: 1800px;
        margin: 0 auto;
    }
    .main-index {
        h2,
        .article-more-link {
        }
    }
    .main-categories,
    .main-tags,
    .main-archives {
        article {
            min-height: 100vh;
        }
    }
    .main-tags a.tag,
    .main-categories a.category {
        min-width: 100px;
        display: inline-block;
        margin: 10px;
        padding: 8px;
    }

    .main-index,
    .main-post {
        article {
            a {
                border-bottom: 1px solid col-black;
            }            
        }
    }
}

.main article {
    position: relative;
    border-radius: 6px;
    min-height: 130px;
    margin: 0px auto 10px;
    width: calc(100% - 460px);
    padding: 10px 10px 30px;
    
    img {
        display: block;
        margin: 0 auto;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        left: 0%;
        border-bottom: 1px dashed #8795a1;
    }
}

.post-toc {
    position: relative;
    z-index: 1;
    margin-right: 40px;
    float: right;
    max-height: calc(100% - 60px);
    overflow: auto;
    float: right;
    width: 300px;
    padding: 10px 0px;
    top: 10px;
    right: 0;
    margin-left: -20px;
    border-top: 2px solid col-black;
    transition: 1s linear;
    font-size: 0.875rem;
    .post-toc-content {
       margin-left: -20px; 
    }
    a {
        transition: 0.1s linear;
        color: #222;
        &:hover {
            color: #00f;
        }
    }
    li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.5rem;
        list-style-type: none;
    }
    .toc>.toc-item li {
        display: none;
    }
}

.pagination {
    clear: both;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    .space {
        padding: 0 10px;
    }
    .page-number,
    .next,
    .prev {
        vertical-align: middle;
        background-color: #fff;
        box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        position: relative;
        z-index: 1;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        min-width: 40px;
        min-height: 40px;
        padding: 6px 10px;
        margin: 10px;
        &:hover {
            color: #fff;
            background-color: col-black;
        }
    }
    .current {
        background-color: col-black;
        color: #fff;
    }
}

@media screen and (max-width:1200px) {
    .main {
        .show-toc article,
        .hide-toc article,
        article {
            width: 800px;
            margin: 20px auto;
        }
        .post-toc {
            display: none;
        }
    }
}

@media screen and (max-width:860px) {
    .main {
        .show-toc article,
        .hide-toc article,
        article {
            width: calc(100% - 40px);
            margin: 20px 10px;
        }
        .post-toc {
            display: none;
        }
    }
}