.site-search {
    display: none;
    z-index: 2;
    position: fixed;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    .local-search {
        height: calc(100% - 20px);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.site-search .local-search-header {
    position: relative;
    height: 50px;
    #local-search-input {
        display: inline-block;
        border: 2px solid col-blue;
        width: 85%;
        box-sizing: border-box;
        height: 100%;
        border-radius: 10px;
        padding: 4px;
        font-size: 1.25rem;
        outline: none;
    }
    .hide-site-search {
        right: 0;
        position: absolute;
    }
}

.site-search .fa-window-close {
    font-size: 2rem;
    color: col-blue;
    cursor: pointer;
}

.site-search #local-search-result {
    ul.search-result-list {
        margin-left: 0;
        li {
            border-bottom: 1px dashed col-blue;
            margin: 20px 0;
            list-style-type: none;
            .search-result-title {
                font-size: 1.5rem;
                font-weight: 700;
            }
            p.search-result {
                text-align: left;
                em.search-keyword {
                    font-size: 1.25rem;
                    color: #00f;
                    font-style: normal;
                }
            }
        }
    }
}

@media screen and (max-width: 860px) {
    .site-search {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        .local-search-header {
            height: 40px;
        }
    }
}