.site-search {
    display: none;
    position: fixed;
    z-index: 2;  
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
}
.site-search .local-search {
    position: absolute;
    height: 500px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: #fefefe;
    padding: 20px 10px;
    .local-search {
        height: 100%;
    }
}

.site-search .local-search-header {
    position: relative;
    height: 50px;

    #local-search-input {
        display: inline-block;
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: 0 0 2px rgba(0,0,0,0.1) inset;
        width: calc(100% - 40px);
        box-sizing: border-box;
        height: 36px;
        padding: 4px;
        outline: none;
    }
    .hide-site-search {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        float: right;
        text-align: center;
        position: relative;
        margin-top: 2px;
        transition: 0.4s ease;
        background-color: #F8F8F8;
        cursor: pointer;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
        &:hover {
            /* background-color: #d7d7d7; */
            box-shadow: 0 0 2px rgba(0,0,0,0.1) inset;
        }
    }
}

.site-search .fa-window-close {
    font-size: 2rem;
    color: col-black;
    cursor: pointer;
}

.site-search #local-search-result {
    overflow-y: auto;
    height: calc(100% - 50px);
    -webkit-overflow-scrolling: touch;
    ul.search-result-list {
        margin-left: 0;
        li {
            border-bottom: 1px dashed col-black;
            margin: 10px 0;
            list-style-type: none;
            .search-result-title {
                font-size: 1.125rem;
                font-weight: 600;
            }
            p.search-result {
                text-align: left;
                em.search-keyword {
                    color: #55e;
                    font-style: normal;
                }
            }
        }
    }
}

@media screen and (max-width: 860px) {
    .site-search .local-search {
        width: calc(100% - 40px);
        height: calc(100% - 60px);
    }
}